@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla');
.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    height: 5rem;
    background: rgba(255, 255, 255, 0) 100%;
}
input text{
    color: whitesmoke
}
textarea{
    padding: 15px;
    margin: 10px 0px;
    height: 5rem;
    background: rgba(255, 255, 255, 0) 100%;
}
textarea:focus, input:focus{
    color: whitesmoke;
}
textarea:out-of-range, input:out-of-range{
    color: grey;
}
label{
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 2rem;
    padding-left: 1rem;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
    border-radius: .2rem;
}

input:invalid[focused="true"] ~ span{
    display: block;
}



.format {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.format2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    position:relative;
    width: 40vw;
}

