@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono');
nav {
    position: absolute; /* Use absolute positioning */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: black;
    z-index: 1000; /* Ensure it overlaps content */
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-family: Oxygen mono;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
nav .title2 {
    font-size: 1rem;
    margin: 1rem;
    font-family: Oxygen mono;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
nav .title3 {
    font-size: 1rem;
    margin: 1rem;
    font-family: Oxygen mono;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

nav .title:hover {
    color: #ffffff;
}

nav .title2:hover {
    color: #ffffff;
}
nav .title3:hover {
    color: #ffffff;
}