@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla');
.portada{
    max-height: 80vh;
    max-width: 80vw;
    height: 100%; /* Ensures the image scales down if the container is smaller */
    width: auto; /* Maintains the aspect ratio of the image */    
    align-self: center;
}
.seccion-titulo{
    font-family: "Familjen Grotesk";
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    align-self: auto;
}
.seccion-tipo{
    font-family: "Tiro Bangla";
    font-size: 20px;
    color: white;
    padding-top: 10px;
}
.mini-gallery-image{
    height: 25vh;
    width: 35vw;
    object-fit: cover;
    padding: .2rem;
    border-radius: 5px;
    transition: width 0.5s ease, height 0.5s ease;
}
.mini-gallery-image:hover{
    width: 38vw;
    height: 40vh;
}

/* Align first two images to the left */
.mini-gallery-image:nth-child(1),
.mini-gallery-image:nth-child(2) {
    justify-self: start;
}

/* Align last two images to the right */
.mini-gallery-image:nth-child(3),
.mini-gallery-image:nth-child(4) {
    justify-self: end;
}

.grid-container{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 2vh;
}

@media (min-width: 1820px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  /* 2 columns (2 rows) */
  @media (min-width: 910px) and (max-width: 1819px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }